/* ==========================================================================
   SkewSlider default theme Styles
   ========================================================================== */


.skw-loader {
  background: #333 url(../img/ajax-loader-dark.gif) center no-repeat;
}

.skw-nav { 
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  background: rgba(255,255,255, .3); 
  border-radius: 25px; 
}

.skw-container:hover .skw-nav {
   opacity: .6;
}

.skw-nav:hover { 
    opacity: 1; 
    box-shadow: 0 0 4px rgba(0,0,0,.4); 
    background: rgba(255,255,255, .7); 
}

.skw-nav > span { 
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  opacity: .6; 
  padding: 5px 8px; 
  background: rgba(255,255,255,.2); 
  font-weight: bold; 
}

.skw-nav > span:hover { 
    background: rgba(255,255,255,0.5); 
    opacity: 1;
}

.skw-dots { 
    margin: 0 20px; 
}

.skw-dots span { 
    cursor: pointer; 
    opacity: .6; 
    width: 15px; 
    height: 15px; 
    margin: 5px; 
    background: #333; 
    border: 5px solid rgba(0,0,0,.8); 
    border-radius: 50%; 
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.skw-dots span:hover, .skw-dots span.skw-current { 
    opacity: 1; 
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2); 
}

.skw-next { 
    border-radius: 0 25px 25px 0; 
}

.skw-prev { 
    border-radius: 25px 0 0 25px; 
}

.skw-caption {
    position: absolute;
    color: #fff;
    padding: 15px 40px;
    -webkit-transition: opacity .8s;
    -moz-transition:  opacity .8s;
    -ms-transition:  opacity .8s;
    transition:  opacity .8s;
    bottom: 15%;
    right: 16%;
    font-size: 1.5em; 
    font-style: italic;
    max-width: 45%;
    text-align: right;
}

.skw-caption:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: skew(-25deg, 0);
    transform: skew(-25deg, 0);
}



/* ==========================================================================
   SkewSlider Core Styles
   ========================================================================== */

.skw-list { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.skw-loader {
  position: absolute;
  top: 0;
  height: 100%;
}

.skw-list > li { 
    position: relative; 
    overflow: hidden;  
    list-style-type: none; 
    float: left; 
    width: 100%; 
    height: 100%; 
	background:#333;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    
}

.skw-list > li .skw-content { 
  height: 100%; 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  position: relative;
  z-index: 1;
}

.skw-nav { 
  overflow: hidden; 
  opacity: 0;
  position: absolute; 
  bottom: 5%; 
  left: 50%; 
  z-index: 9999; 
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.skw-nav.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.skw-container:hover .skw-nav {
   opacity: .6;
}

.skw-nav:hover { 
    opacity: 1; 
}

.skw-nav > span { 
  display: inline-block; 
  vertical-align: middle; 
  cursor: pointer; 
}

.skw-dots { 
    display: inline-block; 
    vertical-align: middle; 
}

.skw-dots:before { 
    content: ""; 
    display: inline-block; 
    height: 100%; 
    vertical-align: middle; 
}

.skw-dots span { 
    cursor: pointer;  
    vertical-align: middle; 
    width: 15px; 
    height: 15px; 
    display: inline-block; 
    background: #333;
    margin: 5px;
}


.skw-itemNext, .skw-itemPrev { 
    cursor: pointer;
}

.skw-trans { 
    opacity: 0!important; 
    pointer-events: none; 
}

.skw-noTransition .skw-list > li, .skw-noTransition .skw-list {
    -webkit-transition: -webkit-transform 0s!important; 
    -moz-transition: all 0s!important; 
    -ms-transition: all 0s!important; 
    transition: -webkit-transform 0s!important; 

    -webkit-transition-delay: 0!important;
    transition-delay: 0!important;
}

.skw-noEvents .skw-list > li {
   pointer-events: none!important; 
}

.skw-list > li.skw-infLeft {
    position: absolute;
    top: 0;
    left: 0;

}

.skw-noTransition {
  pointer-events: none;
}

.skw-caption {
    position: absolute;
    z-index: 999;
    opacity: 0;
}


